<!DOCTYPE html>
<html lang="en">
<head>
  <title>Online bookings</title>
  <meta name="description" content="A bookings thing made with Glitch">
  <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/preact/7.2.0/preact.dev.js"></script>  
</head>
<body>

  <header>
    <a href="/logout" style="font-size: 75%; margin-left:auto; margin-right:30px; margin-top:8px; margin-bottom:0px; float: right; color:grey">logout</a>
    <div class="jumbotron" style="margin:20px;padding:20px">
      <h1>
        Bookings
      </h1>
      <p>
        Use this page to sign up for a specific date. Just click edit and enter your name on
        a free slot.
      </p>
    </div>
  </header>
  
  <main>
    <div id="root" class="container"></div>    
  </main>

  <footer>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/systemjs/0.19.31/system.js"></script>
    <!--<script src="/client.js"></script>-->
  <link rel="stylesheet" href="/style.css">
  <script>
    SystemJS.import('/client.js');
  </script>
  </footer>
</body>
</html>
